<h1>Ask a question</h1>

<%#= simple_form_for question do |f| %>
  <%#= f.input :question %>
  <%#= f.submit%>
<%# end %>

<form action="<%= answer_path %>">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
